    <h1>机器状态</h1>
    <table>
        <tr>
            <td class='title'>CPU使用率</td>
            <td><progress id="cpuP" max="100" value="0"></progress></td>
            <td><span id="cpu"></span>%</td>
        </tr>
        <tr>
            <td class='title'>内存使用率</td>
            <td><progress id="memUsageP" max="100" value="0"></progress></td>
            <td><span id="memUsed"></span>/<span id="memTotal"></span>(<span id="memUsage"></span>%)</td>
        </tr>
        <tr>
            <td class='title'>磁盘使用率</td>
            <td><progress id="diskUsageP" max="100" value="0"></progress></td>
            <td><span id="diskUsed"></span>/<span id="diskTotal"></span>(<span id="diskUsage"></span>%)</td>
        </tr>
        <tr>
            <td class='title'>网络速率</td>
            <td>↓ <span id="inSpeed"></span>/s</td>
            <td>↑ <span id="outSpeed"></span>/s</td>
        </tr>
    </table>
    <script src="/static/device.js"></script>
