<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <title>文件</title>
    {% include 'head.html' %}
</head>
<body>
<div>
    <h1>所有录像文件</h1>
    <p>部分录像文件已转移至百度云，请在<a href="https://pan.baidu.com/s/1ECnwiHnsm-3dSXNJGWlR2g">这里</a>下载 提取码: ddxt</p>
    <table>
        <tr>
            <td>文件名</td><td>文件大小</td><td>链接</td>
        </tr>
        {%for i in files %}
        <tr>
            <td>{{i.name}}</td><td>{{i.size}}</td><td><a href="/files/download/{{i.name}}">下载文件</a></td>
        </tr>
        {% endfor %}
    </table>
    <hr/>
    <h3><a href="/">录播信息页</a></h3>
    {% include 'device.html' %}
</div>
</body>
</html>