    <h3>CPU</h3>
    <table>
        <tr>
            <td>CPU近半天</td>
            <td><img src="/images/rrd/cpu-0-half_day.png"></td>
        </tr>
        <tr>
            <td>CPU近一天</td>
            <td><img src="/images/rrd/cpu-0-day.png"></td>
        </tr>
        <tr>
            <td>CPU近三天</td>
            <td><img src="/images/rrd/cpu-0-three_days.png"></td>
        </tr>
    </table>
    <hr/>
    <h3>磁盘</h3>
    <table>
        <tr>
            <td>磁盘近半天</td>
            <td><img src="/images/rrd/df-srv-dev-disk-by-id-usb-Hitachi_HTS541612J9AT00_000000000000-0-0-part1-half_day.png"></td>
        </tr>
        <tr>
            <td>磁盘近一天</td>
            <td><img src="/images/rrd/df-srv-dev-disk-by-id-usb-Hitachi_HTS541612J9AT00_000000000000-0-0-part1-day.png"></td>
        </tr>
        <tr>
            <td>磁盘近三天</td>
            <td><img src="/images/rrd/df-srv-dev-disk-by-id-usb-Hitachi_HTS541612J9AT00_000000000000-0-0-part1-three_days.png"></td>
        </tr>
    </table>
    <hr/>
    <h3>网络</h3>
    <table>
        <tr>
            <td>网络近半天</td>
            <td><img src="/images/rrd/interface-enp3s0-half_day.png"></td>
        </tr>
        <tr>
            <td>网络近一天</td>
            <td><img src="/images/rrd/interface-enp3s0-day.png"></td>
        </tr>
        <tr>
            <td>网络近三天</td>
            <td><img src="/images/rrd/interface-enp3s0-three_days.png"></td>
        </tr>
    </table>